* {
  font-family: "Roboto Condensed", sans-serif;
}

.main-title {
  align-items: center;
  display: flex;
  font-size: xx-large;
  justify-content: center;
}

.todays-weather {
  background-color: beige;
  border: 5px solid black;
  text-align: center;
  display: block;
  color: darkblue;
  padding: 5px;
}

.five-day-forecast {
  background-color: beige;
  border: 5px solid black;
  text-align: center;
  display: flex;
  color: darkblue;
  padding: 0;
  float: left;

  width: 499px;
  height: 300px;
}

#submitButton {
  font-size: xx-large;
}

#findCity {
  font-size: xx-large;
}

.date0 {
  padding: 5px;
}
#temp0 {
  padding: 5px;
}
#wind00 {
  padding: 5px;
}
#humidity0 {
  padding: 5px;
}
